# Virtual Environment
venv/
env/
*.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Build
dist/
build/
*.egg-info/